<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component Test</title>
    <link rel="stylesheet" href="./owner.css">
    <script src="./owner.js"></script>
    <style>
        body {
            display: block;
            width: 70vw;
            margin: 5vh auto;
        }
    </style>
</head>
<body>
    <user-greeting name="Daniel Assenza"></user-greeting>
</body>
<script>
    document.addEventListener('click', () => {

        const a = new Owner('Prueba')
        document.body.appendChild(a)
    }, false)
</script>
</html>