<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component Test</title>
    <link rel="stylesheet" href="./owner.css">
    <script src="./owner.js"></script>
    <style>
        html {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        body {
            display: block;
            width: 70vw;
            margin: 5vh auto;
        }

        body > * {
            margin-bottom: 20px;
        }

        user-greeting {
        }
    </style>
</head>
<body>
    <user-greeting name="Daniel Assenza"></user-greeting>
</body>
<script>
    document.addEventListener('click', () => {

        const name = window.prompt('Ingresa un nombre')
        const a = new Owner(name || '')
        document.body.appendChild(a)
    })
</script>
</html>