<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component Test</title>
    <style>
        html {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: rgb(70, 75, 95);
        }

        body {
            display: block;
            width: 70vw;
            margin: 5vh auto;
        }

        body > * {
            margin-bottom: 20px;
        }

        user-greeting {
        }
    </style>
</head>
<body>
    <user-greeting name="Daniel Assenza"></user-greeting>
    <input-field></input-field>
</body>
<script type="module">

    import User from './owner.js'
    import field from './field.js'

    const userGreetings = document.querySelector('user-greeting');
    const textField = document.querySelector('input-field');
    textField.bindElement = userGreetings;

    document.addEventListener('keydown', (event) => {

        if (event.key !== 'n') return

        const name = window.prompt('Ingresa un nombre')
        const a = new User(name || '')
        document.body.appendChild(a)
    })
</script>
</html>