@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rubik&display=swap');
        
:root {
    --background-color: white;
    --primary-color: whitesmoke;
    --shadow: gainsboro;
    --main-font-color: rgb(70 75 95);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: rgb(16 17 21);
        --primary-color: rgb(29 31 38);
        --shadow-color: none;
        --main-font-color: rgb(139 143 155);
    }
}

* {
    user-select: none;
    scroll-behavior: smooth;
}

html {
    background-color: var(--background-color);
    width: 100vw;
    color: var(--main-font-color);
    font-family: 'Rubik', 'Lato', sans-serif;    
    letter-spacing: 0.8px;    
}

body {
    position: relative;
    margin: 0 auto;
    margin-top: 0px;
    overflow: hidden;
}

data-table {
    display: block;
    width: 90%;
    margin: 0 auto;
}

#blankspace {
    position: fixed;
    width: 100vw;
    height: 40px;
    background-color: var(--background-color);
    top: 0;
    left: 0;
    z-index: 10;
}

user-login {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}