@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rubik&display=swap');

@media (prefers-color-scheme: light) {
    :root {
        --background-color: white;
        --primary-color: whitesmoke;
        --shadow: gainsboro;
        --main-font-color: #4b5061;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: rgb(16 17 21);
        --primary-color: rgb(29 31 38);
        --shadow-color: none;
        --main-font-color: rgb(139 143 155);
    }
}

html {
    background-color: var(--background-color);
    width: 100vw;
    color: var(--main-font-color);
    font-family: 'Rubik', 'Lato', sans-serif;
    letter-spacing: 0.3px;
    user-select: none;
    scroll-behavior: smooth !important;
}

body {
    position: absolute;
    margin: 0;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

app-wrapper {
    display: block;
    position: relative;
    top: 90px;
    width: 100%;
    padding: 0 14px;
    padding-bottom: calc(65px + 4vw);
    box-sizing: border-box;
    z-index: 0;
}

data-table {
    display: block;
    width: 100%;
}

user-login {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* ---------------------------------------------------
* c-table.list
* ----------------------------------------------------
*/

h2 {
    font-size: 1.3rem;
    margin: 8px 5px 10px 5px;
}

c-table.list .content {
    display: flex;
    flex-flow: column;
    gap: 8px;
}

c-table.list table-content {
    min-width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 10px -10px var(--shadow-color);
    border-radius: 15px;
    background-color: var(--primary-color);
    padding: 10px 12px;
    gap: 10px;
}

c-table.list .coin {
    display: inline-flex;
    gap: 0 10px;
    flex-shrink: 0;
    align-items: center;
    margin-right: auto;
}

c-table.list .coin svg {
    height: 30px;
    width: 30px;
}

c-table.list .coin .name {
    font-size: 1rem;
}

c-table.list .price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 0.95rem;
    gap: 3px;
}

c-table icon-button {
    width: 15px;
}

c-table table-content[selected] icon-button svg {
    color: #ffd467;
}

c-table .negative {
    color: palevioletred;
}

c-table .positive {
    color: seagreen;
}

/*
* c-table.cards
*/

c-table.cards .content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 5px;
    box-sizing: border-box;
}

c-table.cards table-content {
    display: grid;
    grid-template-columns: calc(100% - 20px) auto;
    grid-template-rows: repeat(2, auto);
    background-color: var(--primary-color);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
    grid-template-areas:
        "symbol icon"
        "price .";
    align-items: center;
    width: calc(50% - 2.5px);
    gap: 10px 5px;
}

c-table.cards .coin {
    display: flex;
    grid-area: symbol;
    align-items: center;
    gap: 6px;
    overflow: hidden;
}

c-table.cards .coin svg {
    height: 22px;
    width: 22px;
    flex-shrink: 0;
}

c-table.cards .coin .name {
    font-size: 1rem;
}

c-table.cards .price {
    grid-area: price;
    font-size: 0.85rem;
    padding-left: 3px;
    width: 100%;
}

/* ---------------------------------------------------
* search-bar
* ----------------------------------------------------
*/

search-bar {
    display: flex;
    gap: 10px;
    background-color: var(--primary-color);
    border-radius: 20px;
    box-shadow: 0px 5px 15px -6px var(--shadow-color);
    box-sizing: border-box;
    padding: 10px 20px;
    transition: 0.7s cubic-bezier(0.08, 1.14, 0.68, 0.98), opacity 0.2s;
}

search-bar icon-button {
    height: 30px;
    width: 30px;
    color: var(--main-font-color);
}

search-bar input {
    width: 100%;
    margin-left: 10rpx;
}

input[type="text"] {
    background-color: inherit;
    color: inherit;
    height: inherit;
    font-family: inherit;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-size: 1.1rem;
}

input[type="text"]::placeholder {
    color: dimgray;
    font-family: inherit;
    opacity: 0.6;
}

/* ---------------------------------------------------
* app-bar
* ----------------------------------------------------
*/

app-bar {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 10;
    background: linear-gradient(180deg, var(--background-color) 70%, transparent 100%);
}

.app-bar {
    position: fixed;
    display: flex;
    align-items: center;
    top: 10px;
    left: 2.5vw;
    width: 95vw;
    height: 70px;
    background-color: var(--primary-color);
    box-sizing: border-box;
    border-radius: 50px;
    padding: 10px 15px;
    box-shadow: 0px 1px 10px -2px var(--shadow-color);
    z-index: 100;
}

.app-bar * {
    align-items: center;
    max-height: 100%;
}

.float--right {
    display: flex;
    gap: 15px;
    margin-left: auto;
    margin-right: 10px;
}

app-bar icon-button {
    width: 28px;
    height: 28px;
}

/* ---------------------------------------------------
* tab-bar
* ----------------------------------------------------
*/

icon-button {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

icon-button> :first-child {
    overflow: overlay;
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;
}

icon-button div.button-text {
    width: auto;
    margin-top: 2px;
    text-align: center;
    font-size: 0.7rem;
    letter-spacing: 0;
    font-variant-caps: all-petite-caps;
}

tab-bar .bar {
    background-color: var(--primary-color);
    display: flex;
    position: fixed;
    bottom: 8px;
    width: calc(100vw - 18px);
    left: 9px;
    justify-content: space-evenly;
    padding: 10px 0 5px 0;
    box-sizing: border-box;
    height: 55px;
    border-radius: 15px;
    z-index: 2;
}

tab-bar .bar icon-button[selected] {
    color: #59b9e9;
    filter: drop-shadow(10px);
}

tab-bar .tab-bar--overlay {
    background: linear-gradient(360deg, var(--background-color) 80%, transparent 100%);
    position: fixed;
    bottom: -1px;
    width: 100vw;
    height: calc(55px + 20px);
    z-index: 1;
}

/* ---------------------------------------------------
* div.--overlay
* ----------------------------------------------------
*/

div.--overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 101vw;
    height: 101vh;
    background-color: var(--background-color);
    opacity: 0.8;
    transition: 0.5s ease-out;
}

/* ---------------------------------------------------
* c-search
* ----------------------------------------------------
*/

c-search {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    overflow-y: auto;
    scroll-behavior: smooth;
}

c-search>div.content {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    padding: 0 10px 20px 10px;
}

c-search search-bar {
    position: fixed;
    width: 90%;
    left: 5%;
    z-index: 10;
    box-shadow: 0 0 20px var(--background-color);
}

c-search data-table {
    width: 100%;
}

c-search[active] {
    display: block;
}

c-search[active] .--overlay {
    animation: showSearch 0.6s forwards;
}

c-search[active] search-bar {
    animation: animateSearchBar 0.8s forwards;
}

c-search[active]>div.content {
    opacity: 0;
    animation: animateTable 0.8s forwards;
}

@keyframes showSearch {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.9;
    }
}

@keyframes animateSearchBar {

    from {
        top: 120px;
        opacity: 0;
    }

    to {
        top: 90px;
        opacity: 1;
    }
}

@keyframes animateTable {

    from {
        top: 170px;
        opacity: 0;
    }

    100% {
        top: 145px;
        opacity: 1;
    }
}

/**
 * --------------------- DEVELOPING ----------------------------
 */

 .wallet {
    margin-top: 10px;
 }

 .wallet .resume {
    display: grid;
    grid-template-columns: repeat(2, calc((100% - 10px) / 2));
    grid-template-rows: 65px 40px;
    grid-template-areas: 
        "balance total"
        "add-btn del-btn";
    background-color: var(--primary-color);
    box-sizing: border-box;
    border-radius: 15px;
    padding: 15px;
    gap: 20px 10px;
}

.wallet .resume .total,
.wallet .resume .balance {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.wallet .resume .balance {
    grid-area: balance;
}

.wallet .resume .total {
    grid-area: total;
}
.wallet .resume .add-btn {
    grid-area: add-btn;
}
.wallet .resume .del-btn {
    grid-area: del-btn;
}

.wallet .resume .add-btn *,
.wallet .resume .del-btn * {
    width: 100%;
    height: 100%;
}

.btn {
    background-color: rgb(51, 53, 66);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}