modal-box {
    display: block;
    transition: 0.2s ease-in;
    visibility: hidden;
    position: fixed;
    z-index: 500;
    opacity: 0;
}

modal-box.active {
    visibility: visible;
    opacity: 1;
}

modal-box #modal--content {
    display: flex;
    width: 100%;
    height: 90%;
    align-items: center;
    justify-content: center;
}

modal-box .--close-btn {
    width: 30px;
    height: 30px;
    margin-left: auto;
}

modal-box .modal--window {
    position: fixed;
    background-color: var(--primary-color);
    padding: 15px 20px 30px 20px;
    box-sizing: border-box;
    z-index: 40;
}

modal-box .floating {
    width: 92vw;
    height: 50vh;
    left: 4vw;
    top: 25vh;
    border-radius: 10px;
    box-shadow: 0 0 10px -2px black;
}

modal-box .full {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}

modal-box .modal--window h1 {
    text-align: center;
}